/*Base*/
ul
{
    list-style-type: none;
}
/*Button*/
.button
{
    color: #FAF4EA;
    background-color: #819B57;
    border: 2px solid #819B57;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover
{
    color: #465929;
    background-color: transparent;  
}
/*Link*/
.link
{
    color:#FAF4EA ;
}
.link:hover
{
    color: #819B57;
}
/*Hero section*/
.hero-title
{
    color: #FAF4EA;
}
.hero-title .accent
{
    color: #819B57
}
/*Advantages section*/
.advantages-list
{
color: #FAF4EA;
background-color: #819B57;
}

.section-title
{
color: #31261A;
}