.form-field {
  margin-bottom: 32px;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

/*.form-field:focus-within .form-label 
{
    transform: translate(-36px -40px);
}*/

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/* Checkbox in modal window*/

/*.checkbox 
{
    position: relative;
}

.checkbox-input
{
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before
{
    background-color: var(--color-secondary-dark);
}

.checkbox-label
{
    padding-left: 24px;
}

.checkbox-label::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-brand-dark);
    border-radius: 2px;
    content: '';
}
    */
